$accent: #f6ebda;
$primary: #ff902b;
$secondary: #2f2105;
$light: #7e7d7a;

.hero-con{
  width: 100%;
  height: 970px;
  background-color: $accent;
}
.hero {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  // min-height: 100vh;
  height: 970px;
  background: $accent;
  position: relative;
  overflow: hidden;
  .bg-img {
    position: absolute;
    width: 35rem;
    height: 22rem;
    z-index: -1;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .bg-img1 {
    right: -4%;
    top: -4%;
  }
  .bg-img2 {
    bottom: 2%;
    left: 4%;
    transform: scale(1.2);
  }
  .middle-section {
    max-width: 1160px;
    width: 100%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      max-width: 490px;
      .b-heading {
        h1 {
          font-size: 3rem;
          font-weight: 700;
          color: $secondary;
          span {
            color: $primary;
          }
        }
      }
      .sm-heading {
        max-width: 395px;
        margin: 1.75rem 0;
        max-width: 395px;
        margin: 1.75rem 0;
        position: relative;
        top: -4px;
        p {
          font-size: 1.125rem;
          color: $light;
        }
      }
      .h-btns {
        
        .primary-btn {
          margin-right: 2rem;
          background: $secondary;
          color: white;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          span {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #ff902b;
            margin-left: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              path {
                stroke: white;
              }
            }
          }
        }
        .secondary-btn {
          background: none;
          border-color: transparent;
          color: #f4ae26;
          font-size: 12px;
          padding: 0.5rem 1.2rem;
          &:hover {
            color: $primary;
            border: 2px solid $primary;
          }
        }
      }
    }
    .right {
      .img-container {
        position: relative;
        width: 420px;
        height: 420px;
        background: $secondary;
        background-image: url(../../../Img/Union.png);
        background-repeat: no-repeat;
        background-position: 10px center;
        background-blend-mode: screen;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .group {
          position: absolute;
          width: max-content;
          height: max-content;
          border-radius: 2.8rem;
          background: white;
          padding: 0.7rem 2.5rem;
          z-index: 12;
          &::before {
            content: "";
            position: absolute;
            border-radius: inherit;
            top: -13%;
            left: -6%;
            width: 112%;
            height: 125%;
            background: linear-gradient(92.95deg, rgba(255, 255, 255, 0.4) 0.82%, rgba(255, 255, 255, 0.7) 96.47%);
            z-index: -1;
          }
          span {
            font-size: 1.2rem;
            font-weight: 700;
            color: $secondary;
            img{
                position: relative;
                top: 3px;
                margin-left: .5rem;
                width: 24px;
                height: 24px;
            }
          }
        }
        .element1 {
          top: 5%;
          left: -5%;
          &::before{
            left: -5%;
            width: 110%;
          }
        }
        .element2 {
          top: 25%;
          right: -5%;
        }
        .element3 {
          top: 75%;
          left: 5%;
        }
      }
    }
  }
}